node_modules
npm-debug.log
.git
.gitignore
.env
.DS_Store
vendor
storage/logs/*
bootstrap/cache/*
.vscode
.idea
*.md
!README.md
docker-compose.yml
.github
tests
.env.testing
run-seeders.sh
README-RENDER.md
